In [13]:
import pandas as pd

In [14]:
df1 = pd.read_csv('./hh.csv')
df1.head()

,position,offer,link
0,Kotlin / Java разработчик,от 100 000 руб.,https://saratov.hh.ru/vacancy/31724349?query=%...
1,Младший Веб Разработчик (Junior Frontend Devel...,NaN,https://saratov.hh.ru/vacancy/32686940?query=%...
2,Программист-стажер,NaN,https://saratov.hh.ru/vacancy/32978259?query=%...
3,"Младший Web-разработчик , backend",NaN,https://saratov.hh.ru/vacancy/32945365?query=%...
4,Web-разработчик (Junior web-developer),NaN,https://saratov.hh.ru/vacancy/32946797?query=%...

In [30]:
import re

def parse_offer(offer, usd_rur):
    res = [0,0]
    if offer and offer == offer:
        o = offer.replace(u'\xa0', '').replace(' ', '')
        res = re.findall(r'\d+', o)
    if len(res) == 1:
        if offer.find('до') != -1:
            res.insert(0, 0)
        else:
            res.append(0)
    if str(offer).lower().find('usd') != -1:
        res = list(map(lambda x: int(x) * usd_rur, res))
    return res

def process_hh_df(usd_rur):
    df = pd.read_csv('./hh.csv')
    df['offer_from'] = df['offer'].apply(lambda x: parse_offer(x, usd_rur))
    df['offer_to'] = df['offer_from'].apply(lambda x: x[1])
    df['offer_from'] = df['offer_from'].apply(lambda x: x[0])

    return df

In [31]:
df2 = process_hh_df(1)
df2.loc[df2['offer'] == df2['offer']].head()

,position,offer,link,offer_from,offer_to
0,Kotlin / Java разработчик,от 100 000 руб.,https://saratov.hh.ru/vacancy/31724349?query=%...,100000,0
7,Ведущий Scala разработчик (Java/C++/C#),до 200 000 руб.,https://saratov.hh.ru/vacancy/32592716?query=%...,0,200000
9,"Team Lead-Developer, C# / .NET",40 000-300 000 руб.,https://saratov.hh.ru/vacancy/31899778?query=%...,40000,300000
10,"Full-Stack разработчик (.NET, SQL, JavaScript)",60 000-85 000 руб.,https://saratov.hh.ru/vacancy/32958261?query=%...,60000,85000
11,"Full-Stack разработчик (.NET, SQL, JavaScript)",60 000-85 000 руб.,https://saratov.hh.ru/vacancy/32958262?query=%...,60000,85000